---
import Layout from '../layouts/Layout.astro';
import background from '../assets/background.svg';
---

<Layout title="Le Festival">
  <section style="padding: 2rem">
    <h1>Le festival</h1>
    <p>
        Le Festival des films d’animation Japonais de Belfort 2025 se distingue par son caractère unique et immersif, en faisant bien plus qu’une simple vitrine pour l’animation japonaise. 
        Ce qui fait son originalité, c’est avant tout la plongée totale dans la culture nippone qu’il propose. Les visiteurs peuvent non seulement visionner des films, 
        mais aussi s’immerger dans l’art et la tradition japonaise à travers des ateliers de calligraphie, des démonstrations culinaires authentiques, 
        et des stands mettant en valeur des produits artisanaux. Cette dimension culturelle élargie offre une expérience multisensorielle qui enrichit l’univers de l’animation.
    </p>
    <img src="/assets/1.png" alt="Festival d'animation" />
    <p>Le festival se démarque également par une programmation riche et variée qui s’adresse à tous les publics. Des classiques du cinéma d’animation japonais, comme ceux du Studio Ghibli, 
        côtoient des films indépendants et expérimentaux, rarement montrés en Europe. Des projections interactives, où les bandes-son sont jouées en live par des orchestres, apportent une dimension
         unique à certains films, permettant de les redécouvrir autrement. Le festival ne se limite pas aux projections et s’ouvre également aux jeunes talents grâce à des rétrospectives, 
         des avant-premières, et des hommages aux grands maîtres de l’animation.
    </p>
    <img src="/assets/2.png" alt="Festival d'animation" />
    <p>
        Une autre spécificité du festival réside dans son engagement à favoriser les échanges interculturels entre la France et le Japon. En invitant des réalisateurs, des animateurs et des artistes de 
        renom, le festival devient une plateforme pour partager les savoir-faire, créer des liens entre professionnels, et montrer comment l’animation japonaise influence et inspire la scène internationale.
         Des conférences, des masterclasses et des ateliers collaboratifs permettent d’encourager le dialogue entre les créateurs européens et japonais, renforçant ainsi la dimension internationale de 
         l’événement.
    </p>
    <h2>L’équipe 👤</h2>
    <p>
    <li><strong>Claire Dubois</strong> - Directrice du Festival</li>
    <li><strong>Julien Morel</strong> - Programmateur</li>
    <li><strong>Sophie Berbard</strong> - Responsable Invités</li>
    <li><strong>Lucas Martin</strong> - Responsable Technique</li>
    <li><strong>Camille Lefèvre</strong> - Responsable Marketing</li>
    <li><strong>Antoine Renaud</strong> - Responsable Actibités</li>
    <li><strong>Marie Lacroix</strong> - Responsable Finances</li>
    <li><strong>Thomas Girard</strong> - Responsables Accueil</li>
    </p>
  </section>
</Layout>

<div id="container">
    <img id="background" src={background.src} alt="" fetchpriority="high" />
</div>
  
  <style>
    #background {
      position: fixed;
      top: 0; left: 0;
      width: 100%; height: 100%;
      z-index: -1;
      filter: blur(200px);
    }
    #container {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2rem;
    }
    #hero {
      text-align: center;
      color: #333;
    }

  </style>